
.foto{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-top: 20px;
    align-content: center;
    margin-left: 50px;
}

.tekst{
    align-content: center;
}

.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 75px;
    padding-top: 50px;
}

section{
   padding-bottom: 120px;
}

.sectionn{
  padding-bottom: 35px;
}

  .border-b {
    border-top: solid 2px whitesmoke;
    height: 2px;
    margin-bottom: 50px; 
  }

footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border-top: solid 2px whitesmoke;
    
    margin: 0 50px;
  }

.bxl-linkedin {
    padding: 12px;
}

.icon-container {
   font-size: 30px; 
}

.aboutt {
  text-align: center;
  padding-top: 20px;
}

.chson {
  text-align: left; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  max-width: 600px; 
  margin: 0 auto; 
  padding-top: 20px;
}

.input-box {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 550px; 
}

.input-box input, .input-box textarea {
  width: 100%; 
  padding: 10px; 
  border-radius: 8px; 
  border: 1px solid #ccc; 
}



.contactos {
  text-align: center;
  padding: 25px;
}


.form-signin {
  max-width: 400px;
  padding-top: 150px;
}





 