
.foto{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-top: 20px;
  align-content: center;
  margin-left: 50px;
}

.tekst{
  align-content: center;
}

.container-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 75px;
  padding-top: 50px;
}



.border-b {
  border-top: solid 2px whitesmoke;
  height: 2px;
  margin-bottom: 50px; 
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border-top: solid 2px whitesmoke;
  
  margin: 0 50px;
}

.icon-container {
 font-size: 30px; 
}

.aboutt {
text-align: center;
padding-top: 20px;
}

.chson {
text-align: left; 
display: flex;
flex-direction: column; 
justify-content: center; 
align-items: center; 
max-width: 600px; 
margin: 0 auto; 
padding-top: 20px;
}

.input-box {
display: flex;
flex-direction: column; 
align-items: center; 
justify-content: center; 
gap: 10px; 
margin: 0 auto; 
width: 100%; 
max-width: 550px; 
}

.input-box input, .input-box textarea {
width: 100%; 
padding: 10px; 
border-radius: 8px; 
border: 1px solid #ccc; 
}


.contactos {
text-align: center;
padding: 25px;
}


.form-signin {
max-width: 400px;
padding-top: 150px;
}

.porto {
text-align: center;
padding-top: 25px;
}

.psfo {
  height: 400px; 
  width: 800px;
  display: flex;      
  justify-content: center;   
  align-items: center;
}

.secto {
display: flex;
flex-direction: column; 
align-items: center;
max-width: 600px;
margin: 0 auto;
}

.vsth{
height: 400px;
  width: 700px;
}

.vscs {
height: 400px;
  width: 700px;
}

.tdes {
height: 400px;
  width: 800px;
}

.klt {
height: 400px;
  width: 1150px;
}

.detam {
height: 400px;
  width: 700px;
}

.vpy {
height: 400px;
  width: 700px;
}

.secson {
display: flex;
flex-direction: column; 
align-items: center;
max-width: 600px;
margin: 0 auto;
}

.tikson {
text-align: center;
padding-top: 25px;
}

p {
  font-weight: 500;
}

footer .icon-container a {
  text-decoration: none; 
  color: inherit; 
}

footer .icon-container i {
  font-size: 24px; 
  margin: 0 10px; 
}

footer p {
  margin: 10px 0 0; 
  font-size: 14px; 
  text-align: center; 
  color: #333; 
}




@media only screen and (max-width: 700px){
  .container-image{
    flex-direction: column-reverse;
    padding-left: 45px;
  }
  .chson{
    padding-left: 40px;
  }
  .secson{
    padding-left: 25px;
  }
  .secto{
    padding-left: 25px;
  }

  .img-mobile{
    width: 100vw;
    height: auto;
  }
  .foto{
    height: auto;
    width: 80vw;
  }

  .ps-5{
    padding-left: 0px !important;
  }
}